.content-container{
    width: 100%;
    height: 78vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    overflow-x: hidden;
}

.content-title{
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: var(--heading-font);
    color: var(--text-color);
}

.content-text {
    background: -webkit-linear-gradient(84.99deg, #bbd3ee 0%, #1d63ff 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-family: var(--heading-font);
    font-weight: bolder;
  }

  .content-card{
    width: 17rem;
    height: 15rem;
    transition: transform 0.3s;
    cursor: pointer;
    background-color: var(--bg-color);
  }

  .content-card.content-card-zoom-in{
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }

  .content-row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-card-container{
   padding: 1rem;
   position: relative;
   transition: transform 0.3s ease-in-out;
   display: flex;
   justify-content: left !important;
   text-align: left !important;
  background-color: var(--bg-color);
  }

  .content-card-hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
  }
  
  .content-card-text{
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
    font-weight: 400;
    text-align: left;
    color: var(--text-color);
  }

  .content-card-icon{
    font-size: 2rem;
    color: var(--text-color);
    position: absolute;
    bottom: 1%;
    right: 3%;
  }