.main {
  min-height: 100vh;
  padding-bottom: 15vh;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: var(--text-color);
}
.main .nav img {
  width: 40px;
  border-radius: 50px;
}
.main-container {
  margin: auto;
}

.greet-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-container .greet {
  margin: 60px 19px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500px;
  width: 50%;
}

.greet-text{
  font-size: 1.5rem;
}

.greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Outfit", sans-serif !important;
}
.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  position: relative;
  margin-left: 1rem;
}
.main .card {
  height: 200px;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  background: var(--bg-color);
}
.main .card p {
  color: var(--text-color);
  font-size: 17px;
}
.main .card:hover {
  background-color: var(--card-hover-color);
}
.main-bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  max-width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 1rem;
  width: 50%;
}

.stop-button{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  cursor: pointer;
}

.stop-icon{
  color: var(--text-color-new);
  font-size: 1.2rem;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 8px;
  font-size: 18px;
  color: var(--text-color);
}
.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}

.bottom-text-container{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-text{
  font-size: 13px;
  line-height: 1rem;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
  color: var(--text-color-new);
}

.result {
  padding: 0px 5%;
  width: 100%;
  max-height: 84vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  position: relative;
}

.result-container {
  width: 50%;
  height: 100%;
}

/* .result::-webkit-scrollbar {
  display: none;
} */
.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result img {
  width: 40px;
  border-radius: 50px;
}
.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #b1d5ee, #c953e98a, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 4s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300px;
  line-height: 1.8;
}

.bulb-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulb {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}

.icon-container {
  display: inline-block;
}

.gradient-send-icon{
  width: 34px;
  height: 34px;
}

.avatar-container {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
}

.avatar-container-profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatar {
  font-size: 1.5rem;
  color: var(--text-color);
}

.avatar-profile {
  font-size: 1.5rem;
  color: var(--text-color);
}

.user-logout-btn {
  width: 115.99px;
  height: 49px;
  border-radius: 83px;
  background: rgba(48, 48, 48, 1) !important;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25) !important;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 12px;
  margin-top: 2rem;
  border: none !important;
  text-align: center;
  cursor: pointer;
}

.user-logout-btn-dark {
  width: 115.99px;
  height: 49px;
  border-radius: 83px;
  background: rgba(48, 48, 48, 1) !important;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25) !important;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 12px;
  margin-top: 2rem;
  text-align: center;
  border: none !important;
  cursor: pointer;
}

.profile-menu > li {
  background: none !important;
  cursor: default !important;
}

.profile-menu-dark > li {
  background: none !important;
  cursor: default !important;
}


/* .user-logout-btn:hover {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  box-shadow: none !important;
  border: none !important;
} */

.user {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Outfit", sans-serif !important;
  font-size: 50px;
  font-weight: 700;
  line-height: 45px;
}

.email {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
}

.user-popover {
  box-shadow: none !important;
  background-color: var(--primary-color);
  margin-right: 1rem !important;
}

.profile-menu {
  width: 321px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  border: 1px solid !important;
  border-radius: 80px !important;
  border-image-source: linear-gradient(
    174.56deg,
    #ffffff 13.24%,
    rgba(255, 255, 255, 0) 78.27%
  ) !important;

  background: linear-gradient(
    134.03deg,
    rgba(255, 255, 255, 0.02) -47.9%,
    rgba(255, 255, 255, 0.004) 116.08%
  ) !important;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.25) !important;
}

.profile-menu-dark {
  width: 321px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  border: 1px solid !important;
  border-image-source: linear-gradient(
    174.56deg,
    #ffffff 13.24%,
    rgba(255, 255, 255, 0) 78.27%
  ) !important;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 80px !important;
  background: linear-gradient(
    134.03deg,
    rgba(255, 255, 255, 0.02) -47.9%,
    rgba(255, 255, 255, 0.004) 116.08%
  ) !important;
}

.result-prompt {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: normal;
}

.result-response {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: normal;
}

.main-full-container {
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
}
.sidebar-col {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

.main-empty-left-col {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

.main-content-col {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 4rem;
}

.logo-main {
  position: absolute;
  top: 0.5rem;
  left: -1.5rem;
  z-index: 1000;
}

.user-avatar-container {
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: 1000;
}

.logo-container {
  background-color: var(--bg-color);
  width: 100%;
  height: 3rem;
}

.icon-secondary-color {
  color: gray;
}

.icon-primary-color,
.icon-secondary-color {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-color);
  background: var(--bg-color);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  width: 100%;
  cursor: pointer;
}

.logo-icon {
  color: var(--nav-icon-color);
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;
}

.scroll-down-button {
  
  color: rgba(240, 242, 245, 1);
  font-size: 1.5rem;
}

.scroll-down-button-container{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(48, 48, 48, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 6rem;
  cursor: pointer;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.response-text {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 300;
}

.ant-popover-inner-content {
  background-color: var(--bg-color) !important;
}

/* Updated Navbar css */
.navbar-clicked {
  width: 16rem;
  height: 100vh;
  background-color: var(--primary-color);
  padding-left: 1rem;
}

.navbar-clicked .nav-icon-container{
  width: 16rem;
  height: 5vh;
  display: flex;
  align-items: center;
}

.navbar-clicked .nav-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--nav-icon-color);
}

.navbar-clicked .nav-new-chat-button{
  width: 16rem;
  height: 10vh;
  display: flex;
  align-items: flex-end;
}

.navbar-clicked .nav-recent-chat-heading-container{
  width: 16rem;
  height: 8vh;
  display: flex;
  align-items: center;
}

.navbar-clicked .nav-recent-chats-container{
  width: 16rem;
  display: block;
  min-height: 57vh;
  width: 105%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -1rem !important;
}



.navbar-clicked .nav-bottom{
  width: 100%;
  height: 20vh;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
}

.navbar-clicked .nav-new-chat-button .nav-btn {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: none !important;
  background-color: var(--nav-button-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  color: var(--text-color-new);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15) !important;
}

.navbar-clicked .nav-new-chat-button .nav-btn:hover {
  background-color: var(--nav-botton-bg-hover-color) !important;
}

.navbar-clicked .nav-new-chat-button .nav-btn .nav-btn-icon{
  font-size: 1.4rem;
  color: var(--nav-icon-color);
  font-weight: bold;
  margin-right: 0.2rem;
}

.navbar-clicked .nav-new-chat-button .nav-btn .nav-btn-text{
  font-size: 14px;
  line-height: 20px;
  font-family: "Poppins";
}

.navbar-clicked .nav-recent-chat-heading-container .nav-recent-heading{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: "Poppins";
  color: var(--nav-icon-color);
  font-weight: 700;
}

.navbar-clicked .nav-bottom .nav-bottom-container{
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-family: "Poppins";
  color: var(--nav-bottom-text-color);
  font-weight: 600;
  cursor: pointer;
}

.navbar-clicked .nav-bottom .nav-bottom-container .nav-bottom-icon{
  font-size: 1.2rem;
  color: var(--nav-bottom-text-color);
}

.navbar-clicked .nav-recent-chats-container .nav-chat-inner-container .nav-chat-normal{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Poppins";
  color: var(--text-color-new);
  font-weight: 400;
  cursor: pointer;
  margin-top: 1rem;
}

.navbar-clicked .nav-recent-chats-container .nav-chat-inner-container .nav-chat-normal:hover{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--nav-button-bg-color);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Poppins";
  color: var(--text-color-new);
  font-weight: 400;
  cursor: pointer;
  padding-left: 0.6rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.navbar-clicked .nav-recent-chats-container .nav-chat-inner-container .nav-chat-clicked{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--nav-button-bg-color);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: "Poppins";
  color: var(--text-color-new);
  font-weight: 400;
  cursor: pointer;
  padding-left: 0.6rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.navbar-clicked .nav-recent-chats-container .nav-chat-inner-container{
  width: 100%;
  height: 57vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--nav-recent-chats-bg);
  padding-left: 1rem;
  padding-right: 0.5rem;
}

/* Navbar Collapsed */

.navbar {
  position: fixed;
  background-color: var(--primary-color);
  transition: 400ms ease;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar .nav-icon-container {
  width: 100% !important;
  min-height: 5vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.navbar .nav-icon-container .nav-icon{
  cursor: pointer !important; 
  font-size: 1.2rem !important; 
  color: var(--nav-collapsed-menu-icon-color) !important;
}

.navbar .nav-new-chat-button{
  width: 100% !important;
  min-height: 10vh !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
}

.navbar .nav-new-chat-button .nav-btn {
  width: 56px !important;
  min-height: 56px !important;
  border-radius: 16px !important;
  border: none !important;
  background-color: var(--nav-button-bg-color) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  color: var(--text-color-new) !important;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15) !important;
}

.navbar .nav-new-chat-button .nav-btn:hover {
  background-color: var(--nav-botton-bg-hover-color) !important;
}

.navbar .nav-new-chat-button .nav-btn .nav-btn-icon{
  font-size: 1.4rem !important;
  color: var(--nav-collapsed-add-icon-color) !important;
  font-weight: bold !important;
}

.navbar .nav-new-chat-button .nav-btn .nav-btn-text{
  display: none !important;
}

.navbar .nav-recent-chat-heading-container{
  width: 100% !important;
  min-height: 8vh !important;
}

.navbar .nav-recent-chat-heading-container .nav-recent-heading{
  display: none !important;
}

.navbar .nav-recent-chats-container{
  width: 100% !important;
  min-height: 47vh !important;
}

.navbar .nav-recent-chats-container .nav-chat-inner-container{
  display: none !important;
}

.navbar .nav-bottom{
  width: 100% !important;
  min-height: 30vh !important;
  display: block !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.navbar .nav-bottom .nav-bottom-text{
  display: none !important;
}

.navbar .nav-bottom-container{
  width: 100% !important;
  min-height: 6vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
}

.navbar .nav-bottom-container .nav-bottom-icon{
  font-size: 1.4rem !important;
  color: var(--nav-bottom-text-color) !important;
}

.image-container{
  width: 50%;
  height: 22rem;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 5rem;
  }

  .navbar-clicked {
    position: absolute;
    top: 0;
    width: 16rem;
    height: 100vh;
  }

  .navbar-clicked .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}

@media (max-width: 1450px) and (min-width: 1024px) {
  .result-container {
    width: 70% !important ;
  }

  .greet {
    width: 70% !important ;
  }

  .search-box {
    width: 70% !important ;
  }
}

@media (max-width: 1023px) and (min-width: 600px) {
  .result-container {
    width: 80% !important ;
  }

  .greet {
    width: 80% !important ;
  }

  .search-box {
    width: 80% !important ;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .result-container {
    padding-top: 1.5rem !important;
    padding-left: 1rem !important;
    width: 80% !important ;
  }

  .greet {
    width: 80% !important ;
  }

  .search-box {
    width: 75% !important ;
  }

  .image-container{
    height: 100% !important;
  }

  .search-box div {
    margin-left: -8rem;
  }
  .search-box input::placeholder{
    font-size: 0.8rem !important;
  }

  .search-box input{
    font-size: 1rem !important;
    margin-right: 2rem !important;
  }

  .main-container .greet {
    font-size: 32px !important;
  }
  .greet-text{
    font-size: 1rem !important;
  }

  .gradient-send-icon{
    width: 24px !important;
    height: 24px !important;
  }
}

@media (max-width: 700px) and (min-width: 0px) {
  
}