.login-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  background-color: var(--login-bg-color) !important;
  transition: background-color 0.25s ease-in-out;
  position: relative;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-form-container {
  width: 57%;
  height: 100vh;
}

.login-image {
  width: 100%;
  height: auto;
}

.login-image-container {
  width: 43%;
  height: 100vh;
  position: relative;
}

.login-image-text-card {
  position: absolute;
  bottom: 4rem;
  width: 547px;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgba(0, 0, 0, 0.711);
  border-radius: 10px;
  height: 270px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-image-button {
  background-color: rgba(73, 94, 146, 1);
  border: none;
  border-radius: 10px;
  width: 321px;
  min-height: 3rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 2rem;
  cursor: pointer;
}

.login-image-text {
  font-size: 16px;
  line-height: 2rem;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.login-form-header {
  height: 10vh;
  width: 100%;
}

.login-form-header-logo {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 3rem;
}

.login-form-header-text-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 3rem;
}

.login-form-card {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-header-text {
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins";
  line-height: 14.5px;
  color: var(--text-color-new);
}

.login-form-header-text-highlight {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 14.5px;
  color: rgba(151, 186, 255, 1);
  cursor: pointer;
}

.login-gradient {
  position: absolute;
  right: 15%;
  bottom: 0;
  z-index: 1000;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .login-form-container {
    width: 100% !important;
  }
  .login-image-container {
    display: none !important;
  }
  .login-form-header {
    height: 10rem !important;
    width: 100% !important;
  }

  .login-form-header-logo {
    padding-top: 2rem !important;
    height: 6rem !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding-left: 0rem !important;
  }

  .login-form-header-text-container {
    padding: 0 !important;
    height: 4rem !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding-right: 0rem !important;
  }

  .login-gradient{
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .login-form-container {
    width: 100% !important;
  }
  .login-image-container {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .login-image-text-card {
    width: 25rem !important;
    height: 19rem !important;
  }
  .login-image-button {
    width: 18rem !important;
    min-height: 3rem !important;
    font-size: 1rem !important;
  }

  .login-image-text {
    font-size: 14px !important;
    line-height: 1.5rem !important;
  }
}

@media (max-width: 1399px) and (min-width: 990px) {
  .login-image {
    width: auto !important;
    height: 100% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .login-image-text-card {
    width: 25rem !important;
    height: 19rem !important;
  }
  .login-image-button {
    width: 20rem !important;
    height: 3rem !important;
    font-size: 0.9rem !important;
  }

  .login-image-text {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
}
