.app{
    background-color: var(--bg-color);
}
.toggle-container{
    position: absolute;
    top: 1.2rem;
    right: 7.3rem;
    z-index: 1000;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    border: 1px solid var gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.dark-mode-icon{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;

}