@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 100%;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --segoe-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --primary-400: #007aff;
    --primary-300: #09407C;
    --primary-200: #378fd0;
    --primary-100: #97baff;

    --bg-color: #fff;
    --foreground-color: #000;

    --text-color: #000;
    --text-light: #525153;
    --border-color: #d9d9d9;
    --card-color: #f0f2f5;
    --card-color2: #fafcff;
    --card-hover-color: #dfe4ea;
  }

  [data-theme="dark"] {
    --bg-color: #000;
    --foreground-color: #fff;

    --text-color: white;
    --text-light: #aeaeae;
    --border-color: #545454;
    --card-color2: #1e1f20;
    --card-color: #131314;
    --card-hover-color: #2b2b2b;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background text-text;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@layer utilities {
  .transition-theme {
    @apply transition-colors duration-200;
  }

  .ConicRotate {
    animation: ConicRotate 8s linear infinite;
  }

  .ConicGradient {
    background: conic-gradient(from 0deg, transparent 0deg 5deg, var(--conic-color), transparent 115deg 360deg) !important;
  }

  @keyframes ConicRotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

#root {
  /* max-width: 1920px; */
  margin: 0 auto;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(122, 172, 247, 1);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #00000010;
}

[data-theme="dark"] *::-webkit-scrollbar-track {
  background-color: #Ffffff10;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}


[data-theme="dark"] .muteScroll::-webkit-scrollbar-thumb {
  background-color: #ffffff10;
  border-radius: 2px;
}

.muteScroll::-webkit-scrollbar-thumb {
  background-color: #00000010;
  border-radius: 2px;
}


[data-theme="dark"] .muteScroll::-webkit-scrollbar-track {
  background-color: transparent;
}

[data-theme="dark"] .muteScroll::-webkit-scrollbar-track {
  background-color: transparent;
}