.sidebar {
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding: 10px 15px;
}
.sidebar .top{
    margin-top: 15px;
}
.sidebar img {
	width: 20px;
}
.sidebar .menu {
	display: block;
	margin-left: 10px;
	cursor: pointer;
    font-size: 1.2rem;
    color: var(--text-color);
}
.sidebar .new-chat{
 margin-top: 50px;
 display: inline-flex;
 align-items: center;
 gap: 10px;
 padding: 10px 15px;
 background-color: var(--primary-color);
 border: 1px solid var(--text-color);
 width: 100%;
 border-radius: 50px;
 font-size: 14px;
 color: var(--text-color);
 cursor: pointer;
}

.newchat-text{
    color: gray;
    font-size: 1rem;
    font-weight: 400;
}

.newchat-icon{
    font-size: 1.5rem;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    animation: fadeIn 2.0s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 1.2rem;
    letter-spacing: 1px;

}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    background-color: var(--bg-color);
}

.recent-text{
    color: var(--text-color);
    font-size: 1rem;
}

.recent-icon{
    font-size: 1.5rem;
    color: var(--text-color);
}

.sidebar .recent-entry:hover{
    background-color: var(--chat-history-entry-hover-color);
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

.bottom-text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 5px;
    color: var(--text-color);
}

.bottom-icon{
    font-size: 1.5rem;
    color: var(--text-color);
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}